## Имя вашего workflow, которое будет отображаться в интерфейсе GitHub Actions
#name: Packet Broker Api tests
#
## Запускать workflow, когда будет сделан коммит / pull request в ветку main
#on:
#  push:
#    branches:
#      - main
#  pull_request:
#    branches:
#      - main
#
## Определяем все шаги, которые должны быть выполнены в рамках работы с тестами
#jobs:
#  run-tests:
#    runs-on: ubuntu-latest                          # Указываем, что тесты будут запускаться на последней версии Ubuntu
#
#    steps:
#      # 1 - Шаг, который будет клонировать ваш репозиторий на машину GitHub Actions
#      - name: Check out repository
#        uses: actions/checkout@v6                   # Используем GitHub Action для клонирования репозитория
#
#      # 2 - Шаг для установки Python на виртуальной машине
#      - name: Set up Python
#        uses: actions/setup-python@v6               # Используем GitHub Action для установки Python
#        with:
#          python-version: '3.12'                    # Устанавливаем версию Python 3.12
#
#      # 3 - Шаг для установки всех зависимостей проекта
#      - name: Install dependencies
#        run: |
#          python -m pip install --upgrade pip
#          pip install -r requirements.txt
#
#      # 4 - Шаг для запуска тестов с использованием pytest и генерацией отчётов Allure
#      - name: Run API tests with pytest and generate Allure results
#        run: |
#          pytest -m regression --alluredir=allure-results --numprocesses=2
#
#      # 8 - Шаг для сохранения отчета о результатах пройденных авто-тестов
#      - name: Upload Allure results
#        if: always()
#        uses: actions/upload-artifact@v6
#        with:
#          name: allure-results
#          path: allure-results
#
#
#  publish-report:
#    if: always()
#    needs: [ run-tests ]
#    runs-on: ubuntu-latest
#
#    steps:
#      # 1 - Шаг, который будет клонировать ваш репозиторий на машину GitHub Actions снова
#      - name: Check out repository
#        uses: actions/checkout@v6                   # Опять клонируем репозиторий, чтобы получить историю отчётов
#        with:
#          ref: gh-pages                             # Указываем ветку gh-pages для получения отчётов
#          path: gh-pages                            # Указываем путь для сохранения отчётов
#
#      # 2 - Шаг для загрузки сохраненного ранее отчета о результатах пройденных авто-тестов
#      - name: Download Allure results
#        uses: actions/download-artifact@v7
#        with:
#          name: allure-results
#          path: allure-results
#
#      # 3 - Шаг для генерации и отображения отчёта Allure
#      - name: Generates Allure Report with history
#        uses: simple-elf/allure-report-action@v1.13 # Используем GitHub Action для генерации Allure отчёта
#        if: always()
#        with:
#          allure_results: allure-results            # Указываем каталог с результатами тестов
#          allure_history: allure-history            # Указываем каталог для истории отчётов Allure
#
#      # 4 - Шаг для деплоя отчёта Allure на GitHub Pages, чтобы его можно было просматривать в браузере
#      - name: Deploy report to Github Pages
#        if: always()
#        uses: peaceiris/actions-gh-pages@v4         # Используем GitHub Action для публикации отчёта на GitHub Pages
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }} # Токен для аутентификации на GitHub
#          publish_branch: gh-pages                  # Указываем, что отчёт будет опубликован в ветке gh-pages
#          publish_dir: allure-history               # Указываем папку, которая будет опубликована на GitHub Pages